*.d

*.o
*.ko
*.obj
*.elf
*.sym

*.ilk
*.map
*.exp

*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib
*.sym

*.exe
*.out
*.hex
*.elf
*.drv

*.img
.trunk/
.vscode/
api/
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
elf/
__pycache__/
*.bat
*.vmdk
symbols/
initrd/drivers/*
