*.d

*.o
*.ko
*.obj
*.elf
*.sym

*.ilk
*.map
*.exp

*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib
*.sym

*.exe
*.out
*.hex
*.elf
*.drv

.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
os-image.img
elf/
__pycache__/
*.bat
*.vmdk
symbols/
